* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color:white ;
}



.btns {
	position: absolute;
	right: 25px;
	margin-top: -15px;
}



.btn1 {
	position: relative;
	margin: 10px;
	height: 32px;
	width: 102px;
	border-radius: 20px;
	background-color: black;
	color: white;
}

input{
    color:black !important;
}

button {
	font-size: 13px;
	cursor: pointer;
}



.movies-layout{

     color:white;
}

.navbar-m,.navbar-m p,.navbar-m h1{
   background-color:#131312;
    display: flex;
    justify-content:space-around;
   
}
.navbar-c,.navbar-c ul,.navbar-c li{
    display: flex;
     background-color: #131312 !important;
  
}


.review div, .review p ,.review h4, .review h3, .review h2, .review h1 ,.review h6,.review{
    background-color:white;
    color:black !important;
}


.card-body h1,.card-body  p,.card-body h4{
    background-color: #131312;
}
ul li{
    display: inline-block;
  
     margin :25px;
     font-size:22px;
}

.input-group input{
    width : 240px !important;
    height: 35px !important;
    margin : 25px;
}

img{
    display: inline !important;
    margin: 25px -2px;
}

.login-btn{
    font-size:22px;
    margin:25px 70px;
}

.btn-search{
    background-color:white;
    color:black;
    margin: 25px -15px;
}

.flex-items{
    display: flex;
     margin:0px 150px;
    padding :0px;
    margin-top:30px;
}



.flex-item{
    padding: 10px;
}

.kep-login-facebook{
    padding: 13px !important;
}
button{
    font-size:15px  !important;
    text-transform: capitalize !important;
    padding :0px;
}


.heading{
    margin:0px 150px;
    margin-top: 60px !important;
}


input{
    width: 480px ;
    height: 40px ;
}
label{
    font-size: 20px;
}

