* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container1 {
	height: 100%;
	width: 100%;
}

.btns {
	position: absolute;
	right: 25px;
	margin-top: -15px;
}

.btn1 {
	position: relative;
	margin: 10px;
	height: 32px;
	width: 102px;
	border-radius: 20px;
	background-color: black;
	color: white;
}

button {
	font-size: 13px;
	cursor: pointer;
}

.showcase {
	display: flex;
	justify-content: center;
	margin-top: 48px;
	height: 85vh;
}

.showcase-item1 {
	width: 50%;
	font-size: 121px;
  background: linear-gradient(rgba(255, 255, 255, .1), rgba(121, 77, 77, .1)), url('https://c4.wallpaperflare.com/wallpaper/916/448/946/movies-hollywood-movies-wallpaper-preview.jpg');
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	padding-top: 300px;
	background-size: cover;
}

.showcase-item2 {
	text-align: center;
	background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), url('https://www.wallpaperkiss.com/wimg/b/144-1447858_big.jpg');
	width: 50%;
	background-size: cover;
	color:white ;
	font-size: 121px;
	padding-top: 300px;
}